
html {
    height: 100%
}

body {
    background-image: url(https://images.unsplash.com/photo-1463663090918-4d8338918803?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80);

    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1 {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2rem;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5rem;
}